-var titulo = "Sub-título Pricipal"
-var titulos = ["Título Pricipal","Subtitulo 1","Subtitulo 2","Subtitulo 3"]
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet", href="css/ejercicio-pug.css")
	body 
		header 
			h1 PlatziGames 
			a.boton registro
		section.intro 
			.intro__imagen: img(src="/images/imagen.png", alt="")
			.intro__contenido 
				h2 #{titulos[0]} 
				p
					| Lorem ipsum dolor sit amet consectetur 	
					|	adipisicing elit. Deserunt nihil nisi accusantium |	laboriosam dignissimos eaque modi, tempore optio 
					|	fugit nam voluptatibus repellendus quo quam 
					span 	cumque debitis assumenda quod esse! Consequuntur?
				a.boton leer más